@tailwind base;

@font-face {
    font-family: "Urbanist";
    src: url("../../fonts/Urbanist-VariableFont_wght.ttf");
    font-display:block;
    font-style:normal;
    font-stretch: 75% 12%;
    font-weight: 300 900;
}